In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../sourcefiles/Course_Materials_Part1/Coding_Exercises/cars.csv")
df.iloc[1:4]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
19,26.0,4,97.0,46.0,1835,20.5,70,europe,vw 1131 deluxe sedan