In [2]:
import pandas as pd

In [30]:
df = pd.read_csv("../sourcefiles/Course_Materials_Part1/Coding_Exercises/cars.csv")
pd.options.display.min_rows = 15
pd.options.display.max_rows = 15
df.tail(15)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevrolet s-10