In [2]:
import pandas as pd

In [8]:
df = pd.read_csv("../sourcefiles/Course_Materials_Part1/Coding_Exercises/cars.csv")
df.horsepower

     horsepower  displacement
0         130.0         307.0
1         165.0         350.0
2         150.0         318.0
3         150.0         304.0
4         140.0         302.0
..          ...           ...
393        86.0         140.0
394        52.0          97.0
395        84.0         135.0
396        79.0         120.0
397        82.0         119.0

[398 rows x 2 columns]