In [2]:
import pandas as pd

In [9]:
df = pd.read_csv("../sourcefiles/Course_Materials_Part1/Video_Lecture_NBs/summer.csv")
df.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Country', 'Gender',
       'Event', 'Medal'],
      dtype='object')

In [22]:
# sports = df.Sport.unique()
# countries = df.Country.unique()
# disciplines = df.Discipline.unique()

filter_1 = df.Sport == "Equestrian"
filter_2 = df.Country == "BUL"

filtered = df.loc[filter_1 & filter_2, ["Year", "City", "Medal"]]
filtered

       Year    City   Medal
15742  1980  Moscow  Silver
15743  1980  Moscow  Silver
15744  1980  Moscow  Silver
15745  1980  Moscow  Silver
15746  1980  Moscow  Silver