In [31]:
import pandas as pd

In [32]:
df = pd.read_csv("../sourcefiles/Course_Materials_Part1/Video_Lecture_NBs/summer.csv")
df.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Country', 'Gender',
       'Event', 'Medal'],
      dtype='object')

In [36]:
del df["Year"]
df

,City,Sport,Discipline,Athlete,Country,Gender,Medal
0,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,Gold
1,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,Silver
2,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,Bronze
3,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,Gold
4,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,Silver
...,...,...,...,...,...,...,...
31160,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Bronze
31161,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Gold
31162,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Silver
31163,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Bronze
31164,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Bronze