In [2]:
import pandas as pd

In [16]:
df = pd.read_csv("../sourcefiles/Course_Materials_Part1/Video_Lecture_NBs/summer.csv")
df.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Country', 'Gender',
       'Event', 'Medal'],
      dtype='object')

In [23]:
df.drop(columns=['Year', 'City', 'Sport', 'Discipline', 'Athlete'])

        Medal
0        Gold
1      Silver
2      Bronze
3        Gold
4      Silver
...       ...
31160  Bronze
31161    Gold
31162  Silver
31163  Bronze
31164  Bronze

[31165 rows x 1 columns]

In [22]:
(df.City=="Rome").all()

False