In [2]:
import pandas as pd

In [35]:
df = pd.read_csv("../sourcefiles/Course_Materials_Part1/Coding_Exercises/cars.csv")
df.info()
df.describe(include="O")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

       origin        name
count     398         398
unique      3         300
top       usa  ford pinto
freq      249           6