In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../sourcefiles/Course_Materials_Part1/Video_Lecture_NBs/summer.csv")
df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [10]:
df.loc[df.Year.between(1992,1993)]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
19597,1992,Barcelona,Aquatics,Diving,"XIONG, Ni",CHN,Men,10M Platform,Bronze
19598,1992,Barcelona,Aquatics,Diving,"SUN, Shuwei",CHN,Men,10M Platform,Gold
19599,1992,Barcelona,Aquatics,Diving,"DONIE, Scott R.",USA,Men,10M Platform,Silver
19600,1992,Barcelona,Aquatics,Diving,"CLARK, Mary Ellen",USA,Women,10M Platform,Bronze
19601,1992,Barcelona,Aquatics,Diving,"FU, Mingxia",CHN,Women,10M Platform,Gold
...,...,...,...,...,...,...,...,...,...
21297,1992,Barcelona,Wrestling,Wrestling Gre-R,"BULLMANN, Maik",GER,Men,82 - 90KG (Light-Heavyweight),Gold
21298,1992,Barcelona,Wrestling,Wrestling Gre-R,"BASAR, Hakki",TUR,Men,82 - 90KG (Light-Heavyweight),Silver
21299,1992,Barcelona,Wrestling,Wrestling Gre-R,"DEMIACHKIEVITCH, Serguei",EUN,Men,90 - 100KG (Heavyweight),Bronze
21300,1992,Barcelona,Wrestling,Wrestling Gre-R,"MILIAN PEREZ, Hector",CUB,Men,90 - 100KG (Heavyweight),Gold
21301,1992,Barcelona,Wrestling,Wrestling Gre-R,"KOSLOWSKI, Dennis Marvin",USA,Men,90 - 100KG (Heavyweight),Silver