In [2]:
import pandas as pd

In [19]:
df = pd.read_csv("../sourcefiles/Course_Materials_Part1/Coding_Exercises/cars.csv")
pd.options.display.min_rows = 3
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
...,...,...,...,...,...,...,...,...,...
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevrolet s-10

In [ ]:
pd.options.display.min_rows = 10
df