In [2]:
import pandas as pd

In [9]:
df = pd.read_csv("../sourcefiles/Course_Materials_Part1/Video_Lecture_NBs/summer.csv")
df.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Country', 'Gender',
       'Event', 'Medal'],
      dtype='object')

In [21]:
# sports = df.Sport.unique()
# countries = df.Country.unique()
# disciplines = df.Discipline.unique()

filter_1 = df.Sport == "Equestrian"
filter_2 = df.Country == "BUL"

filtered = df.loc[filter_1 & filter_2]
filtered

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
15742,1980,Moscow,Equestrian,Dressage,ALEKO,BUL,Men,Team,Silver
15743,1980,Moscow,Equestrian,Dressage,"GADZHEV, Georgi",BUL,Men,Team,Silver
15744,1980,Moscow,Equestrian,Dressage,"IVANOV, Svetoslav",BUL,Men,Team,Silver
15745,1980,Moscow,Equestrian,Dressage,"MANDADZHIEV, Petr",BUL,Men,Team,Silver
15746,1980,Moscow,Equestrian,Dressage,SCHIBOR,BUL,Men,Team,Silver